<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Find</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a th:href="@{index}">All Produits</a></li>
				<li><a th:href="@{find}">Chercher</a></li>
				<li><a th:href="@{form}">Add</a></li>
				<li><a th:href="@{supprimer}">Delete</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">User <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{ajouter}">Add</a></li>
<!-- 						<li><a th:href="@{modifier}">Update</a></li>
 -->						<li><a th:href="@{drop}">Delete</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{logout}"
					th:text="${#session.getAttribute('name')}"></a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<form th:action="@{find}" method="get">
			<div class="form-group">
				<label>Mot Cle</label> <input type="text" name="motcle"
					class="form-control" th:value="${motcle}" placeholder="Mot Cle">
				<button class="btn btn-primary">Find</button>
			</div>
		</form>
	</div>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>designation</th>
					<th>prix</th>
					<th>quantite</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p:${listproduits}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.designation}"></td>
					<td th:text="${p.prix}"></td>
					<td th:text="${p.quantite}"></td>
					<td><a class="btn btn-info btn-md"
						th:href="@{edit(id=${p.id})}"><span
							class="glyphicon glyphicon-wrench"></span></a></td>
					<td><a class="btn btn-danger btn-md"
						onclick="return confirm('Etes vous sur de supprimer ?? ')"
						th:href="@{delete(id=${p.id}, page=${pageCourant},size=${size},,motcle=${motcle})}"><span
							class="glyphicon glyphicon-trash"></span></a></td>
				</tr>

			</tbody>

		</table>
	</div>
	<div class="container">
		<ul class="nav nav-pills">
			<li th:class="${pageCourant}==${status.index}?'active':''"
				th:each="page,status:${pages}"><a
				th:href="@{find(page=${status.index},size=${size},motcle=${motcle})}"
				th:text="${status.index}"></a></li>
		</ul>
	</div>

	<footer class="navbar-fixed-bottom text-center py-3">
		<div class="container">
			<p>Copyright@JEBEL</p>
		</div>
	</footer>

</body>
</html>