<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<title>Confirmation</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a th:href="@{index}">All Produits</a></li>
				<li><a th:href="@{find}">Chercher</a></li>
				<li><a th:href="@{form}">Add</a></li>
				<li><a th:href="@{supprimer}">Delete</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">User <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a th:href="@{ajouter}">Add</a></li>
<!-- 						<li><a th:href="@{modifier}">Update</a></li>
 -->						<li><a th:href="@{drop}">Delete</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{logout}"
					th:text="${#session.getAttribute('name')}"></a></li>
			</ul>
		</div>
	</nav>
	<div layout:fragment="content">
		<div class="container" layout:fragment="content">
			<div class="panel panel-default">
				<div class="panel-heading">Confirmation</div>
				<div class="panel-body">
					<div class="from-group">
						<label>ID :</label> <label th:text="${produit.id}"></label>
					</div>
					<div class="from-group">
						<label>Designation :</label> <label
							th:text="${produit.designation}"></label>
					</div>
					<div class="from-group">
						<label>Prix :</label> <label th:text="${produit.prix}"></label>
					</div>
					<div class="from-group">
						<label>Quantite :</label> <label th:text="${produit.quantite}"></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="navbar-fixed-bottom text-center py-3">
		<div class="container">
			<p>Copyright@JEBEL</p>
		</div>
	</footer>
</body>
</html>